{#
/**
 * @file
 *
 * Default advent calendar template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - content: The rendered invoice fields.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'advent-calendar',
  is_active ? 'advent-calendar--active',
  is_future ? 'advent-calendar--future',
  is_past ? 'advent-calendar--past',
]
%}
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  <h2>{{ label }}</h2>
  {{ title_suffix }}
  {{- content|without('name') -}}
</article>
