{#
/**
 * @file
 *
 * Default advent calendar door template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - content: The rendered invoice fields.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'advent-calendar-door',
  is_active ? 'advent-calendar-door--active',
  is_future ? 'advent-calendar-door--future',
  is_past ? 'advent-calendar-door--past',
]
%}
{% set show_letter = answer_letter and is_past %}
<article{{ attributes.addClass(classes) }}>
  <div class="advent-calendar-door__day">
    {{ title_prefix }}
    {{ label }}
    {{ title_suffix }}
  </div>
  {% if show_letter %}
    <div class="advent-calendar-door__letter">{{ answer_letter }}</div>
  {% endif %}
  {% if is_active %}
    <div class="advent-calendar-door__content">
      {{- content|without('day') -}}
      {% if answer_letter %}
        <div class="advent-calendar-door__answer-letter">{{ answer_letter }}</div>
      {% endif %}
    </div>
  {% endif %}
</article>
