{#
/**
 * @file
 *
 * Default advent calendar doors template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - content: The rendered invoice fields.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('calendar-doors') }}>
  {% for door in doors %}
    <div class="calendar-doors__door">{{ door }}</div>
  {% endfor %}
</div>
